node_modules/
.pnpm-store/
dist/
build/
.next/
.turbo/
out/
coverage/
*.log
.env
.env.*
!.env.example
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
prisma/generated/
storage-data/
minio-data/
minio-bin/
postgres-data/
redis-data/
